/* Styles go here */


.main_container {
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  background: hsl(0, 0%, 98%);
}

.result_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 570px;
  gap: 30px;
}

.result_container img {
  margin: 10px;
  border-radius: 10px;
}

.result_img-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 570px;
}

.card_container img {
  margin: 20px;
  box-shadow: 5px 5px 20px rgba(132, 132, 132, 0.462);
  border-radius: 10px;
}

/* Nav bar */
#navbar {
  background: white;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 70%;
}

@media(max-width: 768px) {
  .nav-wrapper {
    width: 90%;
  }
}

@media(max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}


.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media(max-width: 768px) {
  .logo {
    /*       margin-left: 5px; */
  }
}